.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 4px 20px;
}

.logo {
  text-decoration: none;
}

.logo-img {
  height: 60px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-size: large;
}

.nav-links a:hover {
  background-color: #555;
  color: #fff;
}

.nav-name{
  margin-bottom: 10px;
  flex-direction: column;
  font-size: large;
  color: white;
  margin-left: 5px;
  
}